/* Обнуление стилей
=================== */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,*:before,*:after {
    /* text-decoration .4one; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focuse:active{
    
}
a:focus, a:active{
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear{
    display: none;
}
button{
    cursor: pointer;
}
button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
a, a:visited{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ================ */
body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container {   
    max-width: 1170px;
    padding: 0px 15px;
	margin: 0px auto;
}

/* HEADER ================ */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
.header__logo {
    color: #000;
    font-size: 40px;
    font-weight: 700;
}

/* MAIN ================ */
.main {
    
}
.main__container {
}
.main__body {
    padding: 250px 0 100px 0;
    max-width: 900px;
}
.main__body > *:not(:last-child){
    margin: 0 0 50px 0;
}
.main__title {
    font-size: 70px;
    font-weight: 500;
    line-height: 120%;
}
.main__text {
    font-size: 40px;
}
.main__button {
    display: inline-flex;
}
.button {
    border-radius: 20px;
    display: flex;
    padding: 0 34px;
    min-height: 60px;

    justify-content: center;
    text-align: center;
    align-items: center;

    transition: background 0.5s, color 0.2s;
}
.main__button_blue {
    border: 2px solid #0000FF;
    font-size: 40px;
}
.main__button_blue:hover {
    background: #0000FF;
    color: #fff;
}

/* Test */
.test {
    background: #ebebeb;
    padding-top: 100px;
}
.test__body {
    height: 700;
}
.test__text {
    font-size: 28px;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 15px !important;
}

.test__form {
}

.tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #ebebeb;
    margin: 0 auto;
    white-space: nowrap;
  }
  
  .tabs.tabs-transparent {
    background-color: transparent;
  }
  
  .tabs.tabs-transparent .tab a,
  .tabs.tabs-transparent .tab.disabled a,
  .tabs.tabs-transparent .tab.disabled a:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .tabs.tabs-transparent .tab a:hover,
  .tabs.tabs-transparent .tab a.active {
    color: #fff;
  }
  
  .tabs.tabs-transparent .indicator {
    background-color: #fff;
  }
  
  .tabs.tabs-fixed-width {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .tabs.tabs-fixed-width .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .tabs .tab {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
  
  .tabs .tab a {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
  }
  
  .tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  .tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #000000;
  }
  
  .tabs .tab.disabled a,
  .tabs .tab.disabled a:hover {
    color: rgba(0, 0, 0, 0.4);
    cursor: default;
  }
  
  .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #4d50f7;
    will-change: left, right;
  }
  
  @media only screen and (max-width: 992px) {
    .tabs {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .tabs .tab {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
    .tabs .tab a {
      padding: 0 12px;
    }