body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}
/* HEADER =================================================================== */
.header {   
    width: 100%;
    background: rgb(231, 231, 231);
}
.header__container {
    padding: 30px 0;
}
.header__logo {
    font-size: 40px;
    font-weight: 700;
    color: #000;
}
.header__row {
    background: rgb(231, 231, 231);
}
.header .row {
    margin-bottom: 0 !important;
}
@media (max-width: 475px){
    .header__logo {
        font-size: 30px;
    }
}
@media (max-width: 388px){
    .header__logo {
        font-size: 20px;
    }
}

/* INTRO ==================================================================== */
.intro {
    padding: 200px 0 0 0;
}
.intro_hide {
    display: none;
}
.intro__container {

}
.intro__title {
    font-size: 70px;
    font-weight: 500;
    line-height: calc(85 / 70 * 100%);
    margin-bottom: 40px;
}
.intro__subtitle {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}
.intro__button {
    
}
.intro__button_blue {
    border: 2px solid #0000FF;
    border-radius: 20px;
    
    color: #000;
    font-size: 30px;

    padding: 5px 30px;
    transition: color .4s, background .4s;
}
.intro__button_blue:hover {
    color: #fff;
    background: #0000FF;
}

@media (max-width: 840px){
    .intro {
        padding: 200px 0 0 0;
    }
    .intro__title {
        font-size: 50px;
    }
    .intro__subtitle {
        font-size: 40px;
    }
    .intro__button_blue {
        font-size: 30px;
    }
}

@media (max-width: 475px){
    .intro {
        padding: 150px 0 0 0;
    }
    .intro__title {
        font-size: 40px;
    }
    .intro__subtitle {
        font-size: 30px;
    }
    .intro__button_blue {
        font-size: 25px;
    }
}

@media (max-width: 388px){
    .intro {
        padding: 100px 0 0 0;
    }
    .intro__title {
        font-size: 30px;
    }
    .intro__subtitle {
        font-size: 25px;
    }
    .intro__button_blue {
        font-size: 20px;
    }
}

/* MAIN ===================================================================== */
/* CHANGE MATERIALIZE =============*/
.tabs .tab a {
    color: #000 !important;
    font-size: 40px;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #0000ff17 !important;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #000 !important;
}
.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: #000 !important;
}
.tabs .indicator {
    background-color: #0000FF;
}

[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #0000FF;
    border-bottom: 2px solid #0000FF;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
          border-bottom: 1px solid #0000FF;
  -webkit-box-shadow: 0 1px 0 0 #0000FF;
          box-shadow: 0 1px 0 0 #0000FF;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid #000;
}
/* CHANGE MATERIALIZE =============*/

.main {
    display: none; 
    padding: 50px 0 0 0;

}
.main_show {
    display: block;
}
.main__container {

}
.main__tabs {
    margin: 0 0 20px 0;
}

.main__tab-page {
}
.tab-page {
}
.tab-page__task {
    margin: 0 0 20px 0;
}
.task {
}
.task__table {
    border-radius: 20px;
    border: 2px solid #000;
    padding: 15px;
}
.task__text {
    font-size: 30px;
}

.tab-page__form {
}
.form {
}
.form__input-parameters:not(:last-child) {
    margin: 0 0 20px 0;
}
.form__text {
    font-size: 30px !important;
    color: #000; 
}
.form__input {

}
.form__checkbox {
    border-radius: 20px;
}

.form__generate_button {
}
.generate_button {
    display: inline-block;
    width: 100%;
    padding: 5px 30px;

    font-size: 30px;
    color: #000;    
    border-radius: 20px;
    border: 2px solid #0000FF;

    transition: background .4s, color .4s;
}
.generate_button:hover {
    color: #fff;
    background: #0000FF;
}

@media (max-width: 840px){
    .main {
        padding: 30px 0 0 0;
    }
    .tabs .tab a {
        font-size: 40px;
    }
    .task__text {
        font-size: 30px;
    }
    .form__text {
        font-size: 30px !important;
    }
    .generate_button{
        font-size: 25px;
    }
}

@media (max-width: 475px){
    .main {
        padding: 25px 0 0 0;
    }
    .tabs .tab a {
        font-size: 30px;
    }
    .task__text {
        font-size: 20px;
    }
    .form__text {
        font-size: 20px !important;
    }
    .generate_button{
        font-size: 20px;
    }
}

@media (max-width: 388px){
    .main {
        padding: 20px 0 0 0;
    }
    .tabs .tab a {
        font-size: 20px;
    }
    .task__text {
        font-size: 15px;
    }
    .form__text {
        font-size: 15px !important;
    }
    .generate_button{
        font-size: 15px;
    }
}


/* PRINT-BLOCK ============================================================== */
.print-block {
    padding: 20px 0 0 0;
    display: none;
}
.print-block_show {
    display: block;
}
.print-block__container {
}
.print-block__type {
}
.print-block__title {
    font-size: 40px;
    margin: 0 0 20px 0;
}
.print-block__row {
    margin: 0 !important;
}
.print-block__text {
    border: 2px solid #000;
    border-radius: 20px;
    font-size: 30px;
    padding: 15px;
    margin: 0 0 20px 0;
}
.print-block__subtitle {
    font-size: 35px;
}
.print-block__answer {
    font-size: 30px;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 15px;
}
._hide {
    display: none;
}

@media (max-width: 840px){
    .print-block__title {
        font-size: 40px;
    }
    .print-block__subtitle {
        font-size: 35px;
    }
    .print-block__text {
        font-size: 30px;
    }
    .print-block__answer {
        font-size: 30px;
    }
}

@media (max-width: 475px){
    .print-block__title {
        font-size: 30px;
    }
    .print-block__subtitle {
        font-size: 25px;
    }
    .print-block__text {
        font-size: 20px;
    }.print-block__answer {
        font-size: 20px;
    }
}

@media (max-width: 388px){
    .print-block__title {
        font-size: 25px;
        margin: 0 0 15px 0;
    }
    .print-block__subtitle {
        font-size: 20px;
    }
    .print-block__text {
        font-size: 15px;
        margin: 0 0 10px 0;
    }
    .print-block__answer {
        font-size: 15px;
    }
}